
html, body {
    height: 100%;
    margin: auto 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
  
.header {
    display: flex;
    list-style: none;
    cursor: pointer;
    background-color: #6363ce;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #11659c;
    padding: 5px;
    margin: 0;
    text-align: center;
    transition: all 0.3s linear;
}

@media only screen and (max-width: 600px) {
  .header {
  font-size: 0.5em;
  padding: 0;
  }
}

.push {
    margin-left: auto;
}

.li {
    padding: 20px;
    float: right;
}

.a {
    color: #f5f5f6;
    text-decoration: none;
}

.parallaxOne {
    background-image: url("https://images.pexels.com/photos/908284/pexels-photo-908284.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.fontOne {
  font-family: 'Source Sans Pro', sans-serif;
}

.fontTwo {
  font-family: 'Montserrat', sans-serif;
}

h4 {
  text-align: center;  
}
  
#navbar {
  overflow: hidden;
  z-index: 1;
  background-color: #6363ce;
  text-align: center;
}
  
#navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
#navbar a:hover {
  background-color: #ddd;
  color: black;
}
  
#navbar a.active {
  background-color: #2727AB;
  color: white;
}
  
.content {
  padding: 16px;
}
  
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
  
.sticky + .content {
  padding-top: 60px;
}

h1, p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px; 
}

#About p{
  margin: 0px 200px 0px 200px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}
#Resume {
  color: white;
}

hr {
  width: 300px;
  color: white;
}

p {
  margin: 20px;
}

.zone {
  cursor: pointer;
  color: #12a526;
  font-size: 2em;
  border-radius: 4px;
  border: 1px solid #11659c;
  transition: all 0.3s linear;
}

/*COVER*/
.container {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.parallaxTwo {
  background: url("https://images.pexels.com/photos/866351/pexels-photo-866351.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  padding: 15px;
}

/*GRID*/
.grid-wrapper {
  display: grid;
  grid-gap: 120px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.box > a {
  width: 50%;
  height: 50%;
}

.box {
  justify-content: center;
  text-align: center;
  background-color: #444;
  padding: 130px;
  margin: 20px;
  height: 30px;
  font-size: 0.7em;
}

/*form {
  width: 450px;
  height: 500px;
}

input[type=text], select, textarea {
  width: 100%;
  text-align: center;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container2 {
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  background-color: transparent;
  padding: 100px;
  margin: 10px 300px 0px 300px;
}*/

.parallaxThree {
  background-image: url("https://images.unsplash.com/photo-1474400643734-8e92a2bdbc2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #6363ce;
  clear: both;
  position: absolute;
  text-align: center;
  height: 100px;
  width: 100%;
}

.credit {
  display: flex;
  color: black;
  position: left;
}

.active {
  color: white;
}